* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('tom-barrett-hgGplX3PFBg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

}